<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FieldControlApi" version="1.0.4.0" targetFramework="net452" />
  <package id="FirebirdSql.Data.FirebirdClient" version="4.10.0.0" targetFramework="net452" />
  <package id="Geocoding.net" version="3.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
</packages>